# package directories
**/node_modules
**/jspm_packages

# Serverless directories
button-service/.serverless

**/.DS_Store

cacert/*.key
cacert/*.pem
cacert/*.srl
cacert/cacertid.yml
!cacert/awsRootCA.pem

button-service/iotInfo.yml
