.App {
  text-align: center;
  display: flex;
  flex-flow: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #000;
  /*height: 100px;*/
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.react-countdown-clock canvas {
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  /*margin: 50px auto;*/
  margin: auto auto;
  display: flex;
  /*position: static !important;*/
}


.react-countdown-clock {

}
